body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #f1e5ac 0%, #add8e6 100%) no-repeat;
  background-size: cover;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

.headerDiv {
  text-align: center;
  background: linear-gradient(to bottom, #add8e6 0%, #f1e5ac 100%);
  padding: 20px;
  box-shadow: 0px 5px 5px 5px;
}

.headerH1 {
  margin: 0 auto;
  font-size: 50px;
}

/* Index */

.indexH1 {
  text-align: center;
  font-size: 50px;
}

.indexA {
  text-decoration: none;
  color: black;
}

.indexA:hover {
  text-decoration: underline;
}


.indexContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.indexCard {
  width: 300px;
  margin: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px #add8e6;
}

.indexCard:nth-child(even) {
  box-shadow: 0px 0px 15px 10px #f1e5ac;
}

.indexCard > img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

.indexCard > a {
  display: block;
  text-align: none;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.indexCard a:hover {
  text-decoration: underline;
}

/* Create */

.createDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.createDiv h2 {
  font-size: 40px;
}

.createFieldset {
  display: flex;
  flex-direction: column;
}

.createAdd {
  margin: 10px;
  height: 25px;
  font-size: 15px;
}

.createHome {
  margin: 10px;
  height: 25px;
  font-size: 15px;
}

/* Edit */

.editDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.editH2 {
  font-size: 40px;
}

.editFieldset {
  display: flex;
  flex-direction: column;
}

.editButton {
  margin: 10px;
  height: 25px;
  font-size: 15px;
}

.editHome {
  margin: 10px;
  height: 25px;
  font-size: 15px;
}

/* Show */

.showDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showH2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.showForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showButton {
  margin: 10px;
  height: 50px;
  font-size: 15px;
}


@media only screen and (min-width: 768px) {

  /* Create */

  .createFieldset {
    width: 90vw;
  }

  .createInput {
    height: 50px;
    font-size: larger;
    margin-bottom: 30px;
  }

  .createLabel {
    font-size: 30px;
  }

  .createAdd {
  font-size: 30px;
  /* width: 10%; */
  align-self: center;
  height: 40px;
  }

  .createHome {
  margin-top: 10px;
  font-size: 30px;
  height: 40px;
  }

  /* Edit */

  .editFieldset {
    width: 90vw;
  }

  .editInput {
    height: 50px;
    font-size: larger;
    margin-bottom: 30px;
  }

  .editLabel {
    font-size: 30px;
  }

  .editButton {
    font-size: 30px;
    align-self: center;
    height: 50px;
  }

  .editHome {
    margin-top: 10px;
    font-size: 30px;
    height: 45px;
  }

  /* Show */

  .showH1 {
    font-size: 50px;
  }

  .showH2 {
    font-size: 40px;
  }

  .showImage {
    aspect-ratio: 1/1;
  }

}

@media only screen and (max-width: 1024px) {
  body {
    height: 100%;
  }

  .createDiv {
    height: 100vh
  }

  .editDiv {
    height: 100vh;
  }

  .showDiv {
    height: 100%;
  }
}